
@utility wallet-address {
    font-family: monospace;
    background-color: var(--color-cyber-dark-300);
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    border: 1px solid rgba(0, 255, 157, 0.2);
    font-feature-settings: "tnum";
}

/* ==== 基础样式覆盖 ==== */
@layer base {
    body {
        background-color: var(--color-cyber-dark-400);
        /*color: #f3f4f6; !* gray-100 *!*/
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: "ss01", "ss02", "cv01", "cv02";
    }

    /* 自定义滚动条 */
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background-color: var(--color-cyber-dark-500);
    }

    ::-webkit-scrollbar-thumb {
        background: linear-gradient(to bottom, var(--color-cyber-pink-400), var(--color-cyber-blue-400), var(--color-cyber-purple-400));
        border-radius: 9999px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(to bottom, var(--color-cyber-pink-300), var(--color-cyber-blue-300), var(--color-cyber-purple-300));
    }

    /* 选择文本样式 */
    ::selection {
        background-color: rgba(0, 255, 157, 0.3);
        color: rgb(191, 219, 254); /* cyber-neon-200 */
    }
}